<appSettings>

  <!--  Default-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  

  <add key="Cmd_Command_WorkingDirectory" value="D:"/>
  <add key="Cmd_Command_CommandToExecute" value="dir"/>

  <add key="File_FullPath" value="D:\test.txt"/>

</appSettings>